* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.navbar-top{
    background: #1B2E56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0 6rem;
    margin-left: 0px;
    margin-right: 0px;
}

li{
    list-style: none;
    margin: 3px 3px;
    padding: 3px 3px;
    display: inline;
}

.top-section-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Lato';
}

.top-section-links a:hover{
    background: #ffffff;
    color: #1B2E56;
    padding: 6px;
    font-weight: 500;
}

.top-section-links ul{
    margin: 0px 0px;
    padding: 0px,0px;
    display: flex;
    gap: 4rem;
}

.social-media-desktop{
    margin: 0px 0px;
    padding: 0px,0px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.facebook{
    color: white;
    font-size: 20px;
}

.twitter{
    color: white;
    font-size: 20px;
}

.youtube{
    color: white;
    font-size: 20px;
}

.navbar-bottom{
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 6rem;
}
.logo img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.main-menu ul{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 0px,0px;
    gap: 4rem;
}


.main-menu a {
    color: #1B2E56;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding: 10px;
    display: block;
}

.main-menu a:hover{
    border-bottom: 3px solid #45cb70;
}

#mobile {
    display: none;
}


.main-menu ul li ul{
    display:none;
    position: absolute;
    background: #ffffff;
    border-radius: 0px 0px 5px 5px;
    z-index: 1;
    padding: 0px 2px;
}

.main-menu ul li:hover ul{
    display: block;
}

.main-menu ul li ul li{
    line-height: 0.2;
    width: 190px;
    padding: 6px;
}

@media screen and (max-width: 769px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .navbar-top{
        background: #1B2E56;
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
        align-items: center;
        padding: 0 5px;
    }
    .social-media-desktop{
        display: none;
    }
    .top-section-links ul{
        /* margin: 0px 2px; */
        display: flex;
        gap: 0.5px;
        align-items: center;
        padding: 8px 5px;
    }
    .top-section-links a {
        color: white;
        text-decoration: none;
        font-size: 0.7rem;
    }
    .navbar-top li{
        list-style: none;
        margin: 3px 5px;
        padding: 3px 3px;
        display: inline;
    }
    .navbar-bottom{
        background: #45cb70;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
        z-index: 1;
    }
    .main-menu ul{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 106px;
        right: 0px;
        width: 180px;
        height: 35vh;
        background: #1B2E56;
        padding: 11px 6px;
        gap: 1.5rem;
        z-index: 2;
        position: absolute;
    }
    .main-menu a {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        padding: 5px;
    }
    #mobile {
        display: block;
    }
    #mobile i{
        color:#1B2E56;
        font-size: 24px;
        cursor: pointer;
    }
    .main-menu ul li #abt{
        /* display:none; */
        position: absolute;
        background: #1B2E56;
        z-index: 1;
        top: 0px;
        right: 100%;
        padding: 4px 11px;
        margin-right: 0px;
        height: 335px;
        border-radius: 0px;
    }
    .main-menu ul li #acads{
        /* display:none; */
        position: absolute;
        background: #1B2E56;
        z-index: 1;
        top: 112px;
        right: 100%;
        padding: 4px 11px;
        margin-right: 0px;
        height: 110px;
        border-radius: 0px;
    }
    .main-menu ul li #admn{
        /* display:none; */
        position: absolute;
        background: #1B2E56;
        z-index: 1;
        top: 163px;
        right: 100%;
        padding: 4px 11px;
        margin-right: 0px;
        height: 159px;
        border-radius: 0px;
    }
    .main-menu ul li #ss{
        /* display:none; */
        position: absolute;
        background: #1B2E56;
        z-index: 1;
        top: 241px;
        right: 100%;
        padding: 4px 11px;
        margin-right: 0px;
        height: 222px;
        border-radius: 0px;
    }
    
    .main-menu ul li:hover ul{
        display: block;
    }
    
    .main-menu ul li ul li{
        line-height: 0.2;
        width: 190px;
        padding: 6px;
    }
  }
