:root {
    --underline-height: .5em;
    --transition-duration: .5s;
  }
  
  body {
    font-family: system-ui, sans-serif;
    background: whitesmoke;
    min-height: 100vh;
  }
  .newscomponent{
    align-items: center;
    margin-bottom: 10px;
  }
  nav {
    position: relative;
    white-space: nowrap;
    background: white;
    padding: var(--underline-height) 0;
    /* margin: 2em 0; */
    width: 72%;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
    margin-left: 250px;
    align-items: center;
  }
  
  .underline {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: var(--underline-height);
    width: 20%;
    background: black;
    pointer-events: none;
    mix-blend-mode: multiply;
    transition: transform var(--transition-duration) ease-in-out;
  }
  /* .underline:nth-child(1) {
    background: yellow;
    transition: calc(var(--transition-duration) * .8);
  }
  .underline:nth-child(2) {
    background: cyan;
    transition: calc(var(--transition-duration) * 1.2);
  }
  .underline:nth-child(3) {
    background: magenta;
  } */
  
  a {
    display: inline-block;
    z-index: 10;
    width: 20%;
    padding: 1em 0;
    text-align: center;
    cursor: pointer;
  }
  
  nav.black .underline {
    background: #222;
    border-radius: 0.25em;
    height: calc(var(--underline-height) / 2);
    mix-blend-mode: initial;
  }
  
  /* nav.full {
    font-weight: bold;
    background: #111;
    color: white;
  } */
  /* nav.full .underline {
    height: 100%;
    background: gold;
  } */
  
  /* nav.retro .underline {
    border-radius: 100% 100% 0 0;
  }
  nav.retro .underline:nth-child(1) {
    background: gold;
  }
  nav.retro .underline:nth-child(2) {
    background: dodgerblue;
  }
  nav.retro .underline:nth-child(3) {
    background: tomato;
  } */
  .news{
      display: flex;
  }
  .main-news{
      width: 50%;
      
  }
  .img{
    display: flex;
    text-align: left;
  }
  .main-text{
    text-align: left;
    padding-left: 250px;
    padding-right: 100px;
  }
  @media (max-width: 760px){
    .nav{
      /* position: relative; */
      margin-left: 0px;
    }
    .newscomponent{
      width: 100%;
    }
    a{
      font-size: small;
    }
    
    .main-news{
      text-align: center;
      width: auto;
      padding: 0px;
      border: 2px;
      box-shadow: 0px 0px 8px #ccc;
      margin: 5px;
    }
    .main-text{
      padding: 0px;
    }
    .news{
      display: inline;
    }
    .main-news img{
      width: 100%;
    }
  }