.delete-btn{
    margin: 5px;
    padding: 5px;
    /* background-color: #45cb70; */
    background-color: #ce3446;
    color: white;
    border-radius: 5px;
    width: 70px;
    border: none;
    cursor: pointer;
}