* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans';
}

h1{
    text-align: center;
    padding: 12px 12px;
    color: #1B2E56;
}

.main-container2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 20px 20px;
}

.container-1 p{
    text-align: center;
    padding: 5px 255px;
}

.container-2{
    display: flex;
    flex-direction: row;
    padding: 12px 12px;
    justify-content: space-between;
    gap: 10rem;
    margin-top: 32px;
}

.box_no p{
    text-align: center;
    font-size: 2rem;
    color: #45cb70;
    font-weight: bold;
}

.box_no span{
    color: #1B2E56;
    font-weight: 400;
}



@media screen and (max-width: 769px) {
    h1{
        text-align: center;
        padding: 12px 12px;
        color: #1B2E56;
        font-size: 25px;
    }

    .container-1 p {
        text-align: center;
        padding: 0px 50px;
    }

    .container-2 {
        display: flex;
        flex-direction: row;
        padding: 12px 12px;
        justify-content: space-between;
        gap: 3rem;
        margin-top: 15px;
    }

    .box_no p {
        text-align: center;
        font-size: 28px;
        color: #45cb70;
        font-weight: bold;
    }
}