.box{
    box-sizing: border-box;
    border: 5px solid red;
    border-color:  #174873;
    
    width: 90%;
    text-align: center;
    align-items: center;
    margin-left: 120px;
}
.about-img{
    width: 100%;
    height: 900px;
}
.carousel{
    width: 100%;
    height: 100%;
}
.head{
    background-color: #174873;
    color: white;
    margin: 0px;
    width: 90%;
    margin-left: 120px;
}
.div{
    align-items: center;
    text-align: center;
    margin: 50px;
}