* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container{
    margin: 50px 180px;
    display: flex;
    flex-direction: column;
}

#heading{
    display: flex;
    flex-direction: row;
    /* gap: 57.5rem; */
    justify-content: space-between;
}

.gallery-boxes{
    display: flex;
    /* flex-direction: column; */
    padding-top: 10px;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 20px;
}

#heading h1{
    font-size: 25px;
}

.view-btn{
    background: #1B2E56;
    color: white;
    padding: 12px 14px;
    border-radius: 6px;
    font-family: 'Lato';
}

.box1{
    height: 190px;
    width: 250px;
    background: #6a8385;
    border-radius: 14px;
    border-top: 7px solid #45cb70;
}

.box1 iframe{
    width: 100%;
    height: 100%;
    border-radius: 14px;
    overflow: 'hidden';
    border:none;
}

.box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    border:none;
}
@media screen and (max-width: 769px) {
    #container{
        margin: 40px 11px;
        display: flex;
        flex-direction: column;
    }
    
    #heading{
        display: flex;
        flex-direction: row;
    }
    
    .gallery-boxes{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        justify-content: space-between;
        align-items:center;
        gap: 2.8rem;
    }

    .box1{
        height: 180px;
        width: 250px;
        background: #6a8385;
        border-radius: 14px;
        border-top: 7px solid #45cb70;
    }
    .view-btn{
        margin-top: 9px;
    }
}