.news-form{
    margin: 57px 400px;
    padding: 25px 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    background: #45cb70;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.form-group{
    margin: 12px;
    width: 60%;
}

.form-group span{
    display: block;
}

#add-news-btn{
    width: 60%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #1B2E56
}


.form-group input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

textarea{
    height: 85px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
    .news-form{
        margin: 40px 20px;
    }
    .form-group{
        margin: 12px;
        width: 90%;
    }
    #add-news-btn{
        width: 90%;
    }
}