.viewALL-container-events{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 80px;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
}

.Viewcards-events {
    margin: 1rem 1rem;
    text-align: center;
    font-family: arial;
    border-radius: 14px;
    box-shadow: 1.5px 1.5px 12px 0px lightslategray;
    display: flex;
    flex-direction: row;
}

.AEvents-image {
    width: 100%;
    height: 12em;
    flex: 40%;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.Viewcards-events div{
    text-align: left;
    padding: 20px;
    color:  #1B2E56;
    background: #45cb70;
}


@media screen and (max-width: 1000px){
    .viewALL-container-events{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 5px;
        padding: 20px 4px;
    }
    .AEvents-image {
        flex: 30%;
        height: 15em;
    }
}

@media screen and (max-width: 595px) {
    .viewALL-container-events{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 5px;
        padding: 20px 10px;
    }
    .AEvents-image {
        flex: 60%;
        border-top-right-radius: 14px;
        border-bottom-left-radius: 0px;
    }
    .Viewcards-events {
        display: flex;
        flex-direction: column;
    }
}