* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#Latest{
    margin-top: 40px;
}
.Latest-container {
    margin: 10px 347px;
    padding: 20px 20px;
}

.card2 {
    max-width: 800px;
    height: 450px;
    display: flex;
    flex-direction: row;
    background: #1B2E56;
}

.img-section{
    width: 400px;
    height: 450px;
    object-fit: cover;
}

.body-section{
    padding: 30px;
    flex: 50%;
    background: #1B2E56;
    color: white;
    font-family: 'Karla';
}

.body-section h3{
    font-weight: 400;
    font-size: 23px;
}

.body-section p{
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 769px) {
    .Latest-container {
        margin: 10px 0px;
        padding: 15px 0px;
    }

    .card2 {
        width: 400px;
        height: 250px;
        display: flex;
        flex-direction: row;
        background: #1B2E56;
    }

    .body-section{
        padding: 15px;
        flex: 50%;
        background: #1B2E56;
        color: white;
        font-size: 12px;
    }

    .img-section{
        width: 180px;
        height: 250px;
        object-fit: cover;
    }
    
}