.Admin-card2{
    box-shadow:5px black;
    border: 10px;
}
.admin-Head2{
    font-family: 'Lato';
    font-variant: small-caps;
    font-size: large;
    margin-bottom: 0px;
    margin-top: 5px;
}
.Admin2{
    background-color:  #192E59;
    color: white;
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow:50px black;
    border-radius: 10px;
}
.admin-head2{
    width: 150%;
    font-family: 'Lato';
}
.admin-desig2{
    padding-bottom: 10px;
}
.admin-img2{
    width: 100%;
    border: 4px solid white;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.admin-text2{
    margin: auto;
    width: 80%;
    padding-left: 10px;
}
.admin-desc2{
    margin: auto;
    width: auto;
    padding: 20px;
    font-family: 'Karla';
}
.border{
    margin-top: 40px;
    margin-left: 40px;
    border: 4px solid white;
}
@media (max-width:760px) {
    .admin-desc2{
        font-size: 13px;
    }
    .admin-desig2{
        font-size: 13px;
        text-align: center;
    }
    .admin-Head2{
        font-size: 13px;
    }
    .Admin2{
        display: block;
    }
    .admin-img2{
        width: 100%;
    }
    .border{
        width: 300px;
        margin-left:43px ;
        margin-top: 20px;
    }
}
