.gallery-boxes-videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 1rem;
    padding: 0rem 2rem;
}

.box1-videos{
    height: 190px;
    width: 250px;
    background: #6a8385;
    border-radius: 14px;
    border-top: 7px solid #45cb70;
    margin: 20px 0px;
}