.service-box{
    box-sizing: border-box;
    border: 5px solid red;
    border-color: #1B2E56;
    background-color: #f6fcf4;
    width: 90%;
    text-align: center;
    align-items: center;
    margin: 0px auto;
    font-family: 'karla';
    padding: 10px;
}
.service-img{
    width: 100%;
    height: 900px;
}
.service-carousel{
    width: 100%;
    height: 100%;
}
.service-head{
    background-color: #1B2E56;
    color: white;
    margin: 0px;
    width: 90%;
    margin: 0px auto;
    font-family: 'Lato';
    font-weight: 500;
    padding-top: 10px;

}
.service-div{
    align-items: center;
    text-align: center;
    margin: 50px;
}
@media (max-width:760px) {
    .service-div{
        margin: 5px;
    }
    .service-head{
        padding: 5px;
    }
    .service-name{
        font-size: medium;
        margin: 10px;
        margin-left: 20px;
    }
    .service-desig{
        font-size: small;
    }
}