.Footer{
    background: #2B2F3B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 235px;
    padding-top: 60px;
    gap: 2rem;
}

.Footer-body{
    flex: 75%;
    display: flex;
    flex-direction: row;
    gap: 6rem;
    font-weight: 200;
}

.aboutus-footer{
    flex: 25%;
}

.Contact-us{
    flex: 25%;
}

.QuickLinks{
    flex: 15%;
}

.Support{
    flex: 15%;
}

.sub-section-footer{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.SocialMedia-icons{
    flex: 25%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
}

.fb{
    font-size: 25px;
}

.insta{
    font-size: 25px;
}

.ttr{
    font-size: 25px;
}

.ln{
    font-size: 25px;
}

hr{
    border: 1px solid rgb(224, 219, 219)
}


@media screen and (max-width: 769px) {

    .Footer{
        background: #2B2F3B;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
        padding-top: 40px;
        gap: 2rem;
    }
    
    .Footer-body{
        flex: 75%;
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        font-weight: 200;
        flex-wrap: wrap;
        margin: 0px 15px;
    }
    
    .SocialMedia-icons{
        flex: 25%;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    .aboutus-footer{
        flex: 100%;
        text-align: center;
    }

    .Contact-us{
        text-align: center;
    }
}