* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

#alum{
    margin: 20px 20px;
    color: #45cb70;
}

.Alumni-container{
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    padding: -18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #1B2E56;
    /* box-shadow: 20px 20px 50px 15px rgb(179, 171, 171); */
}

.alumni-img{
    width: 100%;
    height: 12em;
    object-fit: cover;
}

.card1{
    max-width: 320px;
    margin: auto 1rem;
    text-align: center;
    background: #45cb70;
}


.cont-alumni p {
    font-size: 22px;
    color: #1B2E56;
}

.alumni-about{
    margin: 20px 170px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width: 769px) {
    .alumni-about{
        margin: 15px 20px;
        color: #ffffff;
        font-weight: 300;
        text-align: center;
    }

    .Alumni-container{
        margin-top: 10px;
        margin-left: 17px;
        margin-right: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background: #1B2E56;
        /* box-shadow: 20px 20px 50px 15px rgb(179, 171, 171); */
    }
}

