* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#alum{
    margin: 5px 20px;
    color: #1B2E56;
    text-align: center;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 600;
}

 hr{
    margin: 3px auto;
    width: 55px;
    border: 2px solid #45cb70;
}

.card1{
    margin: 0px auto;
    width: 75%;
    background-color: #1B2E56;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    gap: 1.2rem;
    font-family: 'Karla', sans-serif;
}

.alumni-card{
    width: 200px;
    background-color: #45cb70;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.alumni-img{
    padding: 20px;
    width: 96%;
    height: 188px;
    object-fit: cover;
    border-radius: 129px;
}

.alumni-card p{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #06122c;
    font-size: 18px;
    font-weight: 400;
}

.alumni-card hr{
    width: 120px;
    border: 2px solid white;
}

.alumni-about{
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    padding: 0px 70px;
    font-size: 16px;
    margin-bottom: 5px;
}

@media screen and (max-width: 769px) {
    .alumni-about{
        margin: 15px 20px;
        color: #ffffff;
        font-weight: 300;
        text-align: center;
    }

    .Alumni-container{
        margin-top: 10px;
        margin-left: 17px;
        margin-right: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background: #1B2E56;
        /* box-shadow: 20px 20px 50px 15px rgb(179, 171, 171); */
    }
    .card1{
        margin: 0px auto;
        width: 100%;
        background-color: #1B2E56;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px;
        gap: 1.2rem;
    }
}
