.objective-box{
    box-sizing: border-box;
    border: 5px solid red;
    border-color:  #174873;
    background-color: #f2f7e5;
    width: 90%;
    text-align: center;
    align-items: center;
    margin-left: 120px;
}


.objective-head{
    background-color: #174873;
    color: white;
    margin: 0px;
    width: 90%;
    font-family: Times New Roman,Times,serif;
    margin-left: 120px;
    padding: 20px;
}
.objective-div{
    align-items: center;
    text-align: center;
    margin: 50px;
}
@media (max-width:760px) {
    .objective-div{
        margin: 5px;
    }
    .objective-head{
        margin: 0px;
        height:170px;
        padding: 10px;
        height: auto;
    }
    .objective-box{
        margin: 0px;
        margin-right: 0px;
    }
}