.Table {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grp-box{
    border: 5px solid black;
    width: 105%;
    height: 105%;
    
    margin: auto;
}
tr{
    text-align: center;
}
 
table {
    border: 5px solid #174873;
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: #f2f7e5;
}
 
th {
    border-bottom: 5px solid #174873 !important;
    border-width: 5px;
    background-color: #174873;
    text-align: center;
    align-items: center;
    color: white;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 1000;
    text-transform: uppercase;
}
 
td {
    text-align: center;
    margin: 5px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    font-size:larger;
    border-top: 5px solid black;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}