
.events-container{
    display: flex;
    flex-direction: column;
    margin: 20px 150px;
    padding: 20px 20px;
}

#heading1 {
    display: flex;
    flex-direction: row;
    /* gap: 59.5rem; */
    padding: 20px 6px;
    font-family: 'Lato';
    font-size: 28px;
    font-weight: 600;
    justify-content: space-between;
    margin-right: 10px;
}

#line2{
    margin: 3px 0px;
}

.view-btn{
    width: 90px;
    height: 50px;
    border: none;
}

.product--image {
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card_eve {
    max-width: 320px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    border-radius: 14px;
    box-shadow: 1.5px 1.5px 12px 0px lightslategray;
    font-family: 'Karla';
}

.card_eve h2{
    color: #101f3f;
    font-size: 20px;
    font-weight: 500;
}

.price {
    color: rgb(140, 141, 143);
    font-size: 18px;
    padding-bottom: 5px;
}

.description-event{
    padding-bottom: 5px;
}

.card_eve button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #45cb70;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.card_eve button:hover {
    opacity: 0.7;
}

.view-btn a{
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 769px) {
    
    .events-container{
        display: flex;
        flex-direction: column;
        margin: 20px 1px;
        padding: 20px 20px;
    }

    .card_eve {
        width: 400px;
        margin: auto auto;
        text-align: center;
        font-family: arial;
        border-radius: 14px;
        box-shadow: 1.5px 1.5px 12px 0px lightslategray
    }

    #heading1 {
        display: flex;
        flex-direction: row;
        gap: 4.5rem;
        padding: 10px 1px;
        margin: 5px 5px;
        justify-content: space-between;
    }
    
    #heading1 h2{
        padding-left: 17px;
    }
}