.edit-btn{
    margin: 5px;
    padding: 5px;
    /* background-color: #45cb70; */
    background-color: #45cb70;
    color: white;
    border-radius: 5px;
    width: 70px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 769px){
    .edit-btn{
        width: 60px;
        margin: 3px;
    }
}