* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Courses{
  background: #1B2E56;
}
.Courses .heading_c{
  color: #45cb70;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin: 10px 250px;
}

#view-course{
  padding: 10px;
  background: #45cb70;
  border: none;
}

#view-course a{
  color: white;
  text-decoration: none;
}

.Courses-Cards{
  width:100%; 
  background: #1B2E56;
  height: 300px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  margin-left: 0px ;
}

.Courses-body{
  flex: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  margin-left: 41px;
  padding-left: 204px;
}

.image-courses{
  flex: 30%;
  /* border: 2px solid red; */
  /* width: 80px; */
  height: 200px;
  margin-right: 170px;
}

.image-courses img{
  width: 78%;
  height: 200px;
  object-fit: cover;
  border-top: 10px solid #45cb70;
  border-right: 10px solid #45cb70;
}

#course-btn {
  width: 102px;
  height: 36px;
  background: #45cb70;
  color: white;
  border: none;
}

#course-desc{
  padding-right: 50px;
}


@media screen and (max-width: 769px){
  .Courses .heading_c{
    margin: 10px 10px;
  }
  .Courses h2{
    text-align: center;
    color: #45cb70;
    padding-top: 20px;
  }
  .Courses-Cards{
    width:100%; 
    background: #1B2E56;
    height: 350px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-left: 0px ;
  }

  .image-courses{
    flex: 30%;
    /* border: 2px solid red; */
    /* width: 80px; */
    height: 150px;
    margin-right: 20px;
  }

  .Courses-body{
    flex: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    margin-left: 6px;
    padding-left: 3px;
  }

  #course-desc{
    padding-right: 0px;
    font-size: 13px;
  }

  #course-btn {
    width: 80px;
    height: 23px;
    background: #45cb70;
    color: white;
    border: none;
  }
  .image-courses img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    /* border-top: 10px solid #45cb70;
    border-right: 10px solid #45cb70; */
  }
  

}