.newscomponent{
    align-items: center;
    margin-bottom: 10px;
    width: 700px ;
    /* margin-left: 50px; */
  }
  .news{
    display: flex;
    margin-left: 50px;
}

img{
  /* display: flex; */
  text-align: left;
}
.main-img{
  width: 100%;
}
.main-news{
   text-align: left; 
/* .main-news{ */
  width: 700px;
} 
.main-text{
  text-align: left;
  width: 700px;
  width: 100%;
}
@media (max-width: 760px) {
  .main-news{
    width: 404px;
  }
  .main-text{
    width: 100%;
  }
}