:root {
    --underline-height: .5em;
    --transition-duration: .5s;
  }
  
  body {
    font-family: system-ui, sans-serif;
    background: whitesmoke;
    min-height: 100vh;
  }
  .newscomponent{
    align-items: center;
    margin-bottom: 10px;
    display: flex;
  }
 
  .news{
      /* display: flex; */
      width: 50rem;
      /* height: 1200px; */
  }
  .main-news{
      width: 50%;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .img{
    display: flex;
    text-align: left;
    size: 2000rem;
  }
  /* .main-text{
    text-align: left;
    padding-left:10px;
    padding-right: 100px;
  } */
  .side-news{
    margin-right: 250px;
    height: 555px;
    margin-top: 10px;
    height: 100%;
    align-items: flex-start;
    
  }
  .text{
    margin-top: 0px;
    padding-top: 0px;
    text-align: left;
    margin-left: 10px;
    /* margin-bottom: 10px; */
  }
  .cardlist{
    display: flex;
    margin: 10px;
    width: 100%;
    margin-bottom:45px ;
  }
  .date{
    text-align: justify;
    margin: 0px;
  }
  .desc{
    width: 675px;
  }
  
  @media (max-width: 760px){
    .nav{
      /* position: relative; */
      margin-left: 0px;
      width: 100%;
    }
    .newscomponent{
      width: 100%;
      display: inline-block;
    }
    .NewsSection{
      display: inline-block;
      width: 100%;
    }
    a{
      font-size: small;
    }
    .main-text{
      width: 100%;
    }
    .date{
      width: 360px;
    }
    .text{
      width: 360px;
      font-size: xx-small;
    }
    .bold{
      width: 100%;
      height: 70px;
    }
    .side-news{
      width: 100%;
    }
    .side-bold{
      width: 250px;
    }
    .desc{
      width: 250px;
      height: 100px;
    }
    .cardlist{
      margin-top: 2px;
      margin-bottom: 2px;
    }
    .main-news{
      text-align: center;
      width: 360px;
      padding: 0px;
      border: 2px;
      box-shadow: 0px 0px 8px #ccc;
      margin: 5px;
    }
    .main-text{
      padding: 0px;
    }
    .news{
      display: inline;
    }
    .main-news img{
      width: 360px;
    }
    
  }